block body
  div(ng-controller="IndexCtrl")
    p There are {{classsifiers.length}} classifiers
    div(ng-repeat='classifier in classifiers')
      h3 {{classifier.name}}
      div {{classifier.status}}
  